<ons-page ng-controller="SettingCtrl as setCl">
  <ons-toolbar>

   <div class="left" ng-click="setCl.back()">
     <ons-toolbar-button>
      <ons-icon icon="ion-close-round" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
     </ons-toolbar-button>
   </div>

   <div class="center">設定画面</div>
  </ons-toolbar>

  <div class="content" style="margin: 10px;">
     <div class="settingStatus">
       持ち点： {{setCl.FirstPt}}00点<br>
       返し点： {{setCl.returnPt}}00点<br>
       順位ウマ：{{setCl.umaPtList[0]}}ー{{setCl.umaPtList[1]}}ー{{setCl.umaPtList[2]}}ー{{setCl.umaPtList[3]}}
     </div>
  
     <div style="margin: 10px;">
       持ち点<ons-input modifier="material" type="number" ng-model="250" float></ons-input> 00<br><br>
     </div>

     <div style="margin: 10px;">
       返し点<ons-input modifier="material" type="number" ng-model="300" float></ons-input>   00<br><br>
     </div>
  
  
  
  
  </div>
  

</ons-page>
